name: Build 4CH Relay RainMaker

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with ESP-IDF
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.3
          target: esp32
          command: idf.py build

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: 4CH-Relay-Firmware
          path: build/*.bin
